{%  extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
    {% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
    {% bootstrap_css %}         {# Embed Bootstrap CSS #}
    {% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
    {{ form.media }}            {# Adds date-picker required JS and CSS #}
{% endblock head %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="d-flex flex-col">
                <div class="d-flex flex-col flex-wrap flex-grow-1 flex-shrink-1">
                        <div class="col-12 col-md-10 col-xl-5">
                            {{ my_form.timestamp|as_crispy_field }}

                            {{ my_form.hour|as_crispy_field }}
                        </div>
                        <div class="col-12 col-md-10 col-xl-5">
                            {{ my_form.make|as_crispy_field }}

                            {{ my_form.model|as_crispy_field }}

                            {{ my_form.year|as_crispy_field }}

                            {{ my_form.fuel|as_crispy_field }}

                            {{ my_form.transmission|as_crispy_field }}

                            {{ my_form.category|as_crispy_field }}
                        </div>
                </div>
                <div class="d-flex flex-wrap flex-grow-1 flex-shrink-1">
                    <div class="col-12 col-md-10 col-xl-5">
                        {{ my_form.description|as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-10 col-xl-5 personal-details">

                            {{ my_form.name|as_crispy_field }}


                            {{ my_form.surname|as_crispy_field }}


                            {{ my_form.phone|as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-10">
                            {{ my_form.email|as_crispy_field }}
                    </div>
                </div>
            </div>
        </div>
    </section>


{#    <section class="section">#}
{#        <div class="container">#}
{#            <div class="section-heading">#}
{#                <h2>Booking</h2>#}
{#                <div class="line-dec"></div>#}
{#                <div>Choose date and time that are convenient for you, check if your slot is available.</div>#}
{#                <div>Provide us with basic information about your issue and book a free viewing</div>#}
{#                <div>One of our mechanics will meet you on site to review the issue and provide you with an estimate.</div>#}
{#                <div>The whole process should take about 20-30 minutes of your time.</div>#}
{#                <div>In case your plans change you can reschedule or cancel anytime.</div>#}
{#                <div>We kindly ask you to give us at least 24 hours notice.</div>#}
{#            </div>#}
{##}
{#                <div class="row booking-form">#}
{#                    <form method="POST">#}
{#                        {% csrf_token %}#}
{#                        <div class="form-row" style="justify-content: space-between">#}
{#                            {{ my_form.media }}#}
{#                            <div class="booking-left col-md-6">#}
{#                                <div class="row">#}
{#                                    <div class="col-12 col-md-10 col-xl-5">#}
{#                                        {{ my_form.timestamp|as_crispy_field }}#}
{#                                    </div>#}
{#                                    <div class="col-12 col-md-10 col-xl-5">#}
{#                                        {{ my_form.hour|as_crispy_field }}#}
{#                                    </div>#}
{#                                    <div class="col-12 col-md-10 col-xl-5">#}
{#                                        {{ my_form.make|as_crispy_field }}#}
{#                                    </div>#}
{#                                    <div class="col-12 col-md-10 col-xl-5">#}
{#                                        {{ my_form.model|as_crispy_field }}#}
{#                                    </div>#}
{#                                    <div class="col-12 col-md-10 col-xl-5">#}
{#                                        {{ my_form.year|as_crispy_field }}#}
{#                                    </div>#}
{#                                    <div class="col-12 col-md-10 col-xl-5">#}
{#                                        {{ my_form.fuel|as_crispy_field }}#}
{#                                    </div>#}
{#                                    <div class="col-12 col-md-10 col-xl-5">#}
{#                                        {{ my_form.transmission|as_crispy_field }}#}
{#                                    </div>#}
{#                                     <div class="col-12 col-md-10 col-xl-5">#}
{#                                        {{ my_form.category|as_crispy_field }}#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="booking-right col-md-6">#}
{#                                <div class="row">#}
{#                                    <div class="col-12 col-md-10 col-xl-5">#}
{#                                        {{ my_form.description|as_crispy_field }}#}
{#                                    </div>#}
{#                                    <div class="col-12 col-md-10 col-xl-5 personal-details">#}
{##}
{#                                            {{ my_form.name|as_crispy_field }}#}
{##}
{##}
{#                                            {{ my_form.surname|as_crispy_field }}#}
{##}
{##}
{#                                            {{ my_form.phone|as_crispy_field }}#}
{#                                    </div>#}
{#                                    <div class="col-12 col-md-10">#}
{#                                            {{ my_form.email|as_crispy_field }}#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="row">#}
{#                                        <button class="button" type="submit">submit</button>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    </form>#}
{#                </div>#}
{#        </div>#}
{#    </section>#}
{#    <script src="{% static 'booking/js/available_hours_handler.js' %}"></script>#}
{% endblock content %}